@{
     Layout = "~/Views/Shared/_Layout_Blank.cshtml";
     ViewBag.Title = "Resetare parolă";
}

<div class="panel panel-filled">
     <div class="panel-body">
          <h3 class="text-center">Resetare parolă</h3>
          <p class="text-center">Introdu adresa de email și îți vom trimite un link de resetare.</p>

          @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
          {
               @Html.AntiForgeryToken()
               <div class="form-group">
                    @Html.Label("Email")
                    <input type="email" name="email" class="form-control" required placeholder="exemplu@email.com" />
               </div>
               <button type="submit" class="btn btn-primary btn-block">Trimite link de resetare</button>
          }
     </div>
</div>

